<script>

  function reset() {

    startUnitTags = endUnitTags = <%= raw @units.to_json %>;
    dimensionTags = <%= raw @dimensions.to_json %>;
  
    var previousValue = ""
  };


  function update_sources(source, selected) {
    
    $.ajax({
      url: '/static/get_list',
      type: 'GET',
      dataType: 'script',
      timeout: 1*1000,
      data: {'source' : source, 
            'selected' : selected, 
            'startUnitValue' : $( "#startUnit" ).val(), 
            'endUnitValue' : $( "#endUnit" ).val(),
            'dimensionValue' : $( "#dimension" ).val(),
            'inputValue' : $( "#input_value").val()}
    });
  };


  $(function() {
    reset();
    $("#reset").on("click", function() {
      reset();
      $('#startUnit').val("");
      $('#dimension').val("");
      $('#endUnit').val("");
      $('#end_value').text("0");
      $('#input_value').val("");
      $('#input_value').focus();
      return false;
    });
    $("#flip").on("click", function() {
      var temp = $('#startUnit').val();
      $('#startUnit').val($('#endUnit').val());
      $('#endUnit').val(temp);

      update_sources(1,$('#startUnit').val() );
      return false;
    });
    $("#copy").on("click", function() {

      var x = document.getElementById("end_value");
      
      document.execCommand("Copy");
      return false;
    });
    $( "#startUnit" )
      .autocomplete( {
        source: startUnitTags, 
        minLength: 0,
        autoFocus: true,
        autoSelect: true,
        change: function (event, ui) {
          if (!ui.item) {
            this.value = '';} },
        open: function(event, ui) {
        $('.ui-autocomplete').off('menufocus hover mouseover mouseenter')
    }
      }).on("focus", function() {
        $( "#startUnit" ).autocomplete( "search" , "" );
      }).on("autocompleteselect", function(e, ui) {
        update_sources(1, ui.item.value);
      });
    
    $( "#endUnit" )
      .autocomplete( {
        source: endUnitTags,
        minLength: 0,
        autoFocus: true,
        autoSelect: true,

        change: function (event, ui) {
          if (!ui.item) {
            this.value = '';} }
      }).on("focus", function() {
        $( "#endUnit" ).autocomplete( "search" , "" );
      }).on("autocompleteselect", function(e, ui) {
        update_sources(2, ui.item.value);
      });

    $( "#dimension" )
      .autocomplete( {
        source: dimensionTags,
        minLength: 0,
        autoFocus: true ,
        autoSelect: true,

        change: function (event, ui) {
            if (!ui.item) {
                this.value = '';} }
      }).on("focus", function() {
        $( "#dimension" ).autocomplete( "search" , "" );
      }).on("autocompleteselect", function(e, ui) {
        update_sources(3, ui.item.value);
      });

      $(" #input_value").bind('keyup mouseup', function () {
        update_sources();
      });
      });
</script>
<div class="container text-center">
  <div class="text-center"><h1> Universal Converter </h4></div>

  <div class="row">
      <label class="titler">Convert</label><br/><input class="titler-reset" id="input_value" value="1" placeholder="0">
  </div>
  <div class="row">
      <div class="ui-widget"><input id="startUnit" placeholder="start unit"></div>
  </div>
   
  <div class="row">
    <label class="titler">based on:</label>
  </div>

  <div class="row">
    <div class="ui-widget"><input id="dimension"></div>
  </div>

  <div class="row">
      <label class="titler">to</label>
  </div>
   
  <div class="row">
      <div class="ui-widget"><input id="endUnit" placeholder="end unit"></div>
  </div>
  <div class="row">
    <div class="text-center"><label id="end_value" class="titler-bg">0</label></div>
  </div>
  <div class="row"><h4>
    <%= link_to 'Reset', '', id: "reset" %> | 
    <%= link_to 'Flip Units', '', id: "flip" %> |
    <%= link_to 'Send Feedback', '' %></h3>
    <h3><%= link_to 'Support this site - donate', '', id: "donate" %></h3>
  </div>
</div>


<br/>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<table>
<tr><td><input type="hidden" name="on0" value="Amount">Amount</td></tr><tr><td><select name="os0">
  <option value="$1">$1 $1.00 USD</option>
  <option value="$5">$5 $5.00 USD</option>
  <option value="$10">$10 $10.00 USD</option>
  <option value="$20">$20 $20.00 USD</option>
  <option value="$25">$25 $25.00 USD</option>
  <option value="$30">$30 $30.00 USD</option>
  <option value="$50">$50 $50.00 USD</option>
  <option value="$100">$100 $100.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIIyQYJKoZIhvcNAQcEoIIIujCCCLYCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAXuEb8QdQDdvUMv3Ii9Bdr96MwWEucnvQNiqhF91go6sw/Ea+nuSvgZ00jml/Gwz61IQBT/vD5DgFIQcq3w51gAKQszGQumkzLlDL4u6ooW8vooSR0k5Kps27OLfJ7Pkn578+uSoTrdYO3PUBOLImpT8TdorGkDjRyQ39N2mYBuDELMAkGBSsOAwIaBQAwggJFBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECLQl4Od2vjsSgIICIOKGfbrvXbi2ds3G0MO0moQMXehuK72AFFTQ8xgaZXjq/24o3/tHvxX2hVJkx+6RbGJMvh1RWcK/amGXrev58h9p7iajkdtY/sH8UqnRA17j+FEcr5pSD+miRwHBQ2C+RjyhyhMi2U5Qha0s+I0nZnJLErhCZIeH5aXCQeMXUThyBLJTJ/pt/KvoBGDN/TfnrdCUQ9pOpcnZ8GDE4pBz8VA2BtFXAfC1ql6Ve4RdwDNKC1QAJRJqabcp4I6sob/OeSTJo46Yb6P8MLW+V0+YmEyLHTFQKoYXqwjfv6Ml661pjb0RSZvAbNZ39VoUZGrBLvzd+tvKQ2RhmUeHDOb2WjPvf1cGGITVgJaFaigL4pE2pELy227xSnmvLtfmw4c/tQteziH7GiofFqoRtnRTvMOaTjbgw8nJDnYYNokUYtnMAqDBSU4+dec1x4HjqiPL0HaZawr2x7KmxpOvhg9kI7G05WjMMMhiNJhEmAtxNSQ4bsGefHOQL0+kV/LfggXroNLC8lBuhuddC8f/wQ0x3P7i34uHBnEREWGXZVeWE+ktGM2BI3PHubBLf5nscWpyuNn3pRd/xFR+F6aECj4/Q5dIncX+ayU0HCImxm+ausytRqPvl51HBO5Jpi3OkfN2UJSoaYwODr7L5l2a4yOoFr8HWrrJP32kiVDXKgIGjla+5ld4gwH2AgoTTVt068Jb7vVZ/HwmdSIjpwvXR7CSRn2gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNzEwMjYxOTU4NDNaMCMGCSqGSIb3DQEJBDEWBBQ2FfVV3EuO7droqiWnNe4dx3tnUzANBgkqhkiG9w0BAQEFAASBgB8/7SthVSOaUtiuHdG3875wSR2UvP0VQzrubPmgaaiA5TTKtC+VdMOg3Yw0Il3rC4juIgIU+27lFH3FIa2IW16JOjUonbKKNHFwQGauudlvT/X5X3KZhyC0tsJ3Cs6POacCP6N9p9da51/cX5w5WIy5ClNzmPMdEeTOklKxUuDQ-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
