<script>

  function reset() {

    startUnitTags = endUnitTags = <%= raw @units.to_json %>;
    dimensionTags = <%= raw @dimensions.to_json %>;
  
    var previousValue = ""
  };


  function update_sources(source, selected) {
    
    $.ajax({
      url: '/static/get_list',
      type: 'GET',
      dataType: 'script',
      timeout: 1*1000,
      data: {'source' : source, 
            'selected' : selected, 
            'startUnitValue' : $( "#startUnit" ).val(), 
            'endUnitValue' : $( "#endUnit" ).val(),
            'dimensionValue' : $( "#dimension" ).val(),
            'inputValue' : $( "#input_value").val()}
    });
  };


  $(function() {
    reset();
    $("#reset").on("click", function() {
      $('#input_value').val("1");
      $('#startUnit').val("");
      $('#dimension').val("");
      $('#endUnit').val("");
      $('#end_value').text("0");
      reset();
      return false;
    });
    $("#flip").on("click", function() {
      var temp = $('#startUnit').val();
      $('#startUnit').val($('#endUnit').val());
      console.log($('#startUnit').val());
      update_sources(1,$('#startUnit').val() );
      return false;
    });
    $("#copy").on("click", function() {

      var x = document.getElementById("end_value");
      console.log(x.select);
      document.execCommand("Copy");
      return false;
    });
    $( "#startUnit" )
      .autocomplete( {
        source: startUnitTags, 
        minLength: 0,
        autoFocus: true,
        autoSelect: true,
        change: function (event, ui) {
          if (!ui.item) {
            this.value = '';} },
        open: function(event, ui) {
        $('.ui-autocomplete').off('menufocus hover mouseover mouseenter')
    }
      }).on("focus change keyup paste click", function() {
        $( "#startUnit" ).autocomplete( "search" , "" );
      }).on("autocompleteselect", function(e, ui) {
        update_sources(1, ui.item.value);
      });
    
    $( "#endUnit" )
      .autocomplete( {
        source: endUnitTags,
        minLength: 0,
        autoFocus: true,
        autoSelect: true,

        change: function (event, ui) {
          if (!ui.item) {
            this.value = '';} }
      }).on("focus change keyup paste click", function() {
        $( "#endUnit" ).autocomplete( "search" , "" );
      }).on("autocompleteselect", function(e, ui) {
        update_sources(2, ui.item.value);
      });

    $( "#dimension" )
      .autocomplete( {
        source: dimensionTags,
        minLength: 0,
        autoFocus: true ,
        autoSelect: true,

        change: function (event, ui) {
            if (!ui.item) {
                this.value = '';} }
      }).on("focus change keyup paste click", function() {
        $( "#dimension" ).autocomplete( "search" , "" );
      }).on("autocompleteselect", function(e, ui) {
        update_sources(3, ui.item.value);
      });

      $(" #input_value").bind('keyup mouseup', function () {
        update_sources();
      });
      });
</script>
<div class="container text-center">
  <div class="text-center"><h1> Universal Converter </h4></div>

  <div class="row">
      <label class="titler">Convert</label><br/><input class="titler-reset" id="input_value" value="1" placeholder="0">
  </div>
  <div class="row">
      <div class="ui-widget"><input id="startUnit" placeholder="start unit"></div>
  </div>
   
  <div class="row">
    <label class="titler">based on:</label>
  </div>

  <div class="row">
    <div class="ui-widget"><input id="dimension"></div>
  </div>

  <div class="row">
      <label class="titler">to</label>
  </div>
   
  <div class="row">
      <div class="ui-widget"><input id="endUnit" placeholder="end unit"></div>
  </div>
  <div class="row">
    <div class="text-center"><label id="end_value" class="titler-bg">0</label></div>
  </div>
  <div class="row">
    <%= link_to 'Reset', '', id: "reset" %> | 
    <%= link_to 'Flip Units', '', id: "flip" %><br />
    <h3><%= link_to 'Bitcoin Donations', '', id: "donate" %></h3>
  </div>
</div>